extends ./template.pug

block content
  .column3
  .customized
    h4 Customized Massage Therapy
    h3 Prices starting at 65$ 
    p Choose from relaxation, deep tissue, or injury-focused massage and add a salt scrub or essential oils to create a personalized experience.
  .hotstone
    h4 Hot Stone Massage
    h3 75$ for 60 minutes
    p Smooth, heated stones are used to warm-up and soothe tight muscles. The stones allow the therapist to penetrate into the muscles encouraging further relaxation.
  .thaistem
    h4 Thai Stem Massage
    h3 120$ for 90 minutes
    p Traditional healing herbs and oils are wrapped in cotton and then tied to a stem to help release toxins, relieve muscle tension and joint pain and increase circulation in the body. Thai Herbal Stem Massage combines traditional massage techniques with therapeutic herbs and essential oils bundled up in the stems. The oils and resins are steamed to release their healing properties and are then massaged over the body. The oils are absorbed into the blood stream through the epidermis and react with the body's chemistry.
  .reflexology
    h4 Reflexology
    h3 75$ for 60 minutes
    p Massage used to relieve tension and treat illness using reflex points on the feet, hands, and head which are linked to every part of the body.
  

    
