extends ./template.pug

block content
    .column3
    .bodywrap
      h4 Body Wrap
      h3 $60
      p  A body wrap is a type of beauty treatment which involves the application of skin-cleansing ingredients and hot towels. Add a bodywrap to any massage treatment. 
    .saltscrub
      h4 Salt Scrub
      h3 $30
      p  Add a handmade, natural saltscrub to any massage to exfoliate and moisturize the skin.
    .spaparty
      h4 Spa Party
      h3 Packages vary depending on treatment options and number of guests
      p  Host a spa party for up to 6 people in your own home. Customized packages can include massage, pedicures, and facials. Contact Annette directly for more information.
