doctype html
html
  head
      title Annette Davis: R.M.T.
      link(href='assets/styles.css', type='text/css', rel='stylesheet')
      script(src='form.js')
  body
    .column1(style='background-color:rgb(202, 200, 200);')
      h1 Annette Davis
      h2 Registered Massage Therapist
    .column2(style='background-color:rgb(238, 235, 235);')
      .navigation
         ul
          li
            a(href='/') MASSAGE SERVICES
          li
            a(href='spa') SPA SERVICES
          li
            a(href='contact') CONTACT
      .name
        h2 Annette Davis
      .picture
        img(src='assets/img.jpg')
      .about
        p Annette has been in the spa and massage industry for 17 years.  She has a strong passion for health, wellness and providing the best possible care for her clients.  Annette has set up a clinic in her home which offers a relaxing environment. <br> When not serving clients, Annette is a busy wife and mom of 3!   
    block content


